.footer{
    width: 100%;
    background: #040d25;
    padding: 40px 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 14px;
}

.footer-left{
    max-width: 560px;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
}

.footer-logo-box{
    width: 52px;
    height: 52px;
    border-radius: 10px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo-shape{
    width: 16px;
    height: 16px;
    border: 2px solid #07122f;
    border-radius: 4px;
    transform: rotate(45deg);
}

.footer-logo h2{
    color: white;
    font-size: 28px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -1px;
}

.footer-left p{
    color: rgba(255,255,255,0.72);
    font-family: inherit;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 40px;
    width: 520px;
}

.footer-socials{
    display: flex;
    gap: 16px;
}

.footer-socials a{
    width: 52px;
    height: 52px;
    border-radius: 10px;
    background: rgba(255,255,255,0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.footer-socials a:hover{
    transform: translateY(-4px);
    background: rgba(255,255,255,0.14);
}

.footer-socials img{
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.footer-right{
    display: flex;
    gap: 120px;
    margin-right: 40px;
}

.footer-column{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-column span{
    color: #8ea2c7;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 4px;
    margin-bottom: 8px;
}

.footer-column a{
    text-decoration: none;
    color: rgba(255,255,255,0.72);
    font-size: 18px;
    font-weight: 400;
    font-family: inherit;
    transition: 0.3s ease;
}

.footer-column a:hover{
    color: white;
    transform: translateX(5px);
}

@media(max-width:1100px){

    .footer-right{
        gap: 70px;
    }
}

@media(max-width:900px){

    .footer-right{
        width: 100%;
        flex-wrap: wrap;
        gap: 60px;
        margin-right: 0;
    }
}

@media(max-width:900px){

    .footer{
        flex-direction: column;
        gap: 70px;
        padding: 40px 24px;
    }

    .footer-left p{
        width: 100%;
    }

    .footer-right{
        margin-right: 0;
    }
}