/* FROM script2.js */

.filtered-layout{
    display: grid !important;
    grid-template-columns : repeat(auto-fit, minmax(340px, 1fr));
    gap: 28px;
}

/* ALL CARDS SAME SIZE */

.filtered-layout
.event-large-card,

.filtered-layout
.small-event-card,

.filtered-layout
.mini-card{
    width: 100% !important;
    height: 420px !important;
    min-height: 420px;
}

.filtered-layout img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* REMOVE RIGHT COLUMN */

.filtered-layout
.right-events-column{
    display: contents;
}